<h1>Visits</h1>

<table class="table">
  <thead>
  <tr>
    <th>User</th>
    <th>School</th>
    <th>Duration</th>
    <th>When</th>
    <th>Activity</th>
  </tr>
  </thead>
  <% @visits.each do |visit| %>
    <tr>
      <td><%= link_to visit.user_id, user_visits_path(user_id: visit.user_id) %></td>
      <td><%= link_to visit.school_id, school_visits_path(school_id: visit.school_id) %></td>
      <td><%= distance_of_time_in_words Time.now, visit.seconds.seconds.from_now %></td>
      <td><%= time_ago_in_words visit.start_at %> ago</td>
      <td>
        <% visit.activities.each do |activity| %>
        <div><%= activity.name %></div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @visits %>
