<!DOCTYPE html>
<html>
<head>
  <title>WhoWasHere</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav>
  <%- if current_admin.authenticated? %>
    Welcome <%= current_admin.name %>, (<%= link_to "Logout", "/logout" %>)
  <%- end %>
</nav>
<div class="container">
  <br>
  <% if flash[:notice] %>
    <div class="alert alert-info" role="alert">
      <% flash[:notice].split("\n").each do |line| %>
        <div><%= line %></div>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
